[user]
	email = nicolas.sacilotto22@gmail.com
	name = EternalNico
[gui]
	recentrepo = C:/Users/nicol/Documents/git
[credential]
	helper = "!f() { /root/.vscode-server/bin/6f17636121051a53c88d3e605c491d22af2ba755/node /tmp/vscode-remote-containers-dc9e7ef0-1d2f-4459-a3bc-19fa1d5e111b.js git-credential-helper $*; }; f"
