[user]
	email = nicolas.sacilotto22@gmail.com
	name = EternalNico
[gui]
	recentrepo = C:/Users/nicol/Documents/git
[credential]
	helper = "!f() { /root/.vscode-server/bin/6f17636121051a53c88d3e605c491d22af2ba755/node /tmp/vscode-remote-containers-a7d5bfe4-51fc-46fb-9b39-d24b917d6b7e.js git-credential-helper $*; }; f"
